
body {
    padding: 0px;
    margin: 0px;
    background: rgb(208,16,100);
    background: rgb(251,63,184);
    background: radial-gradient(circle, rgba(251,63,184,1) 0%, rgba(70,230,252,1) 100%);
   
}

#container {
    margin-top: 120px;
    margin-bottom: 83px;
}

.first_line, .second_line, .three_line{
    display: flex;
    justify-content: center;
}

#first_cuadre, #second_cuadre, #three_cuadre, #fourth_cuadre, #fifth_cuadre, #sixth_cuadre, #seventh_cuadre, #eighth_cuadre, #nineth_cuadre {
    width: 200px;
    height: 200px;
}

#first_cuadre {
    border-bottom: 5px solid black;
}

#fourth_cuadre {
    border-right:5px solid black;
    border-bottom: 5px solid black;
}

#seventh_cuadre {
    border-right: 5px solid black;
}

#second_cuadre {
    border-bottom: 5px solid black;
    border-left: 5px solid black;

}

#fifth_cuadre {
    border-bottom: 5px solid black;
}

#three_cuadre {
    border-left: 5px solid black;
    border-bottom:5px solid black;
}

#sixth_cuadre {
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

#nineth_cuadre {
    border-left: 5px solid black;
}

#start {
    justify-content: center;
    display: flex;
    text-align: center;
    margin-left:45.5% ;
    margin-right: 45.5%;
    margin-top: 30px;
    padding: 15px;
    font-weight: bold;
    background-color: rgb(135, 76, 190);
    border: 1px solid black;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.modal {
    background-color: rgba(0, 0, 0, 0.212);
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    background-color: rgba(253, 253, 253, 0.877);
    width: 70%;
    height: 70%;
    justify-content: center;
    font-size: 10px;
    animation-duration: 1s;
    animation-delay: 0.5s;
    font-size: 80px;
    flex-direction: column;
}

.image img {
    width: 200px;
    height: 150px;

}

.btn {
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: -10px;
    font-size: 20px;
}

.image_edit {
    height: 180px;
    width: 180px;
    margin-left: 10px;
}

.letter {
    display: flex;
    flex-direction: row;
}

.letter img {
    width: 150px;
    height: 100px;
    margin-top: 120px;
    margin-left: 10px;
}

.button {
   font-size: 20px;
   display: flex;
   justify-content: center;
   text-align: center;
   background-color: rgb(135, 76, 190);
   padding: 15px;
   font-weight: bold;
   text-decoration: none;
   border: 1px solid black;
   color:black ;
}