body {
  padding: 0px;
  margin: 0px;
  background: rgb(208, 16, 100);
  background: rgb(251, 63, 184);
  background: radial-gradient(
    circle,
    rgba(251, 63, 184, 1) 0%,
    rgba(70, 230, 252, 1) 100%
  );
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.first_line,
.second_line,
.three_line {
  display: flex;
  justify-content: center;
}

.cuadre {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first_cuadre,
#second_cuadre,
#three_cuadre {
  border-bottom: 5px solid black;
}

#fourth_cuadre,
#fifth_cuadre,
#sixth_cuadre {
  border-bottom: 5px solid black;
}

#fourth_cuadre,
#seventh_cuadre {
  border-right: 5px solid black;
}

#second_cuadre,
#three_cuadre {
  border-left: 5px solid black;
}

#sixth_cuadre,
#nineth_cuadre {
  border-left: 5px solid black;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  position: fixed;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.212);
}

.content {
  display: flex;
  background-color: rgba(253, 253, 253, 0.877);
  width: 70%;
  height: 70%;
  justify-content: center;
  font-size: 10px;
  animation-duration: 1s;
  animation-delay: 0.5s;
  font-size: 80px;
  flex-direction: column;
}

.image img {
  width: 200px;
  height: 150px;
}

.btn {
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: -10px;
  font-size: 20px;
}

.image_edit {
  height: 70%;
  width: 70%;
}

.letter {
  display: flex;
  flex-direction: row;
}

.letter img {
  width: 150px;
  height: 100px;
  margin-top: 120px;
  margin-left: 10px;
}

#restart {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
}

.button {
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(135, 76, 190);
  padding: 15px;
  font-weight: bold;
  border: 0;
  color: black;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(153, 85, 216);
}

.button:focus {
  transform: scale(1);
  padding: 0.8rem;
  outline: none;
}
